app.component.css
:host {
    display: block;
    height: 100%;
    margin: 0;
  }
  
  /* app-header,
  app-top-menu {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
  } */
  
  app-header {
    top: 0;
    height: 60px; /* Adjust height as needed */
  }
  
  /* app-top-menu {
    top: 67px;
    height: 56px; 
  } */
  
  .main-container {
    display: flex;
    margin-top: 110px; /* Adjust for header and top menu height */
    margin-left: 0; /* Adjust for sidebar width */
  }
  
  app-search-filter {
    position: fixed;
    top: 110px; /* Adjust to start below the header and top menu */
    width: 200px; /* Adjust width as needed */
    height: calc(100% - 110px); /* Fill remaining height */
    background-color: #f8f8f8;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  app-product-list {
    margin-left: 200px; /* Adjust to not overlap the sidebar */
    padding: 20px; /* Add padding for content */
    flex: 1; /* Take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  